.gradient {
  background-image: linear-gradient(315deg, #faba7e 0%, #80ff72 74%);
  background-repeat: no-repeat;
}

body {
  min-height: 100vh;
  font-family: Comic Sans MS;
}

header {
  width: 100%;
  text-align: center;
  margin: 50px 0 100px 0;
  font-size: 30px;
}

.header-img {
  width: 100%;
  max-height: 100%;
}

.result-img {
  width: 80px;
  max-height: 80px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.buttons {
  text-align: center;
}

.upload {
  left: 50%;
  font-family: inherit;
  font-size: 15px;
  background-color: inherit;
  border-radius: 20px;
  border: 2px;
}

.buttonWithImg {
  background-color: inherit;
  border-radius: 50px;
  width: 80px;
  height: 80px;
}

.buttonWithImg:hover {
  box-shadow: 5px 5px 15px green;
}

button,
img {
  outline: none;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 50px;
}

#player-section {
  text-align: center;
}

#computer-section {
  text-align: center;
}

#result-section {
  text-align: center;
  font-size: 50px;
}

.result-section {
  text-align: center;
}

#play-again-button,
#game-mode {
  margin-top: 100px;
  left: 50%;
  font-family: inherit;
  font-size: 40px;
  background-color: inherit;
  border-radius: 20px;
  border: 1px;
  border-style: solid;
  cursor: pointer;
}

#play-again-button:hover,
#game-mode:hover {
  background-image: linear-gradient(135deg, #fac47e 0%, #80ff72 74%);
  box-shadow: 5px 5px 15px green;
  border-radius: 20px;
}

input {
  display: none;
}

label {
  color: #063102;
  height: 50px;
  width: 10px;
  background-color: inherit;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

p {
  display: inline;
}

.block {
  display: block;
}

#R ,#P , #S, #R2 ,#P2 , #S2{
  cursor: pointer;
  border: #0d6605;
  border-style:solid;
  border-width: 1px;
  border-radius: 40px;
}







.title {
  font-size: 60px;
  font-weight: 600;
}



.result-section {
  height: 400px;
  box-sizing: border-box;
  width: 470px;
  font-size: 50px;
  text-align: center;
  position: fixed;
  top: -100%;
  left:calc( 50% - 235px);
  background-image: linear-gradient(135deg, #fac47e 0%, #80ff72 74%);
  border-radius: 0.5rem;
  padding: 3rem;
  transition: top 1s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.middle-screen {
  top: calc(50% - 250px);
  border-style:solid;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 38px;
  }


.block{
  font-size:  25px;
}

#game-mode , #play-again-button{
  font-size: 25px;
  border: #063102;
  border-style:solid;
}

}
